{% extends "layout.html" %}

{% block content %}

 <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container" style="display:inline-block;vertical-align:top; margin-bottom: 15px">
      <img src= "{{ url_for('static', filename  =  'images/podcast_pics/' + podcast.image_file) }}"width="110" height="110" style="float: left; margin-right: 10px; margin-bottom: 5px; border: 3px solid rgba(100,100,100,.5); " />
      <h1 class="display-3" style="float: left"> {{podcast.name}} </h1>
    </div>

    <p style="margin-left: 15px"> {{podcast.description}} </p>
  </div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0"> Episodes </h6>

{% for episode in episodes %}

    <div class="media text-muted pt-3">
      <img src= "{{ url_for('static', filename  =  'images/podcast_pics/' + podcast.image_file) }}" align= "middle" width="32" height="32" style="margin:8px 10px" />
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@{{episode.name}}</strong>
         {{ episode.description }}
      </p>
    </div>

{% endfor %}

  </div>



{% endblock content %}