{% extends 'layout.html' %}

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--	 &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
<!--	<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap" rel="stylesheet">-->
<!--	<link rel="stylesheet" type ="text/css" href="../static/css/style.css">-->
<!--</head>-->
<!--<body>-->

<!--	<br><br><br><br><br>-->

<!--	<div class ="container">-->

		{% block content %}

		<div class="row">
			<div class="col-4">
				<div class="about-sticky">
					<h2><strong>About Us</strong></h2>
					<div class="card">
						<div class="profile">
							<p class="profile-description">Anish Kottu is the first founder of The Break podcast and the The Break Podcast Network. He is known best for his role co-hosting The Break with along with Hamza Mohamoud. He has affinities for podcasts, chess, coding, competitive reality, sports, poker, and movies. He currently attends Duke University as an undergraduate student.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-8">
				<h2><strong>Meet the Crew</strong></h2>
				<div id="all-profiles" class="card">
					<div class="profile">
						<img src="../static/images/guests/Anish.jpeg" class="profile-pic" alt="...">
						<h5 class="profile-name">Anish Kottu</h5>
						<p class="profile-hometown">Cary, North Carolina</p>
						<p class="profile-role"><a href="{{url_for('producers')}}">Producer</a> | <a href="{{url_for('hosts')}}">Host</a> | <a href="{{url_for('developers')}}">Developer</a></p>
						<p class="profile-description">Anish Kottu is the first founder of The Break podcast and the The Break Podcast Network. He is known best for his role co-hosting The Break with along with Hamza Mohamoud. He has affinities for podcasts, chess, coding, competitive reality, sports, poker, and movies. He currently attends Duke University as an undergraduate student studying computer science and statistics.</p>
					</div>
					<div class="profile">
						<img src="../static/images/guests/Hamza.jpg" class="profile-pic" alt="...">
						<h5 class="profile-name">Hamza Mohamoud</h5>
						<p class="profile-hometown">Atlanta, Georgia</p>
						<p class="profile-role"><a href="{{url_for('producers')}}">Producer</a> | <a href="{{url_for('hosts')}}">Host</a> | <a href="{{url_for('marketers')}}">Marketer</a></p>
						<p class="profile-description">Hamza Mohamoud is the co-founder of The Break podcast and The Break Podcasting Network. He is known best for his role as co-host on The Break along with Anish Kottu. In addition to his love for podcasts, Hamza spends time on tutoring, ultimate frisbee, soccer, advocacy work, and social media marketing. He currently attends Duke University as an undergraduate.</p>
					</div>
					<div class="profile">
						<img src="../static/images/guests/Sophie.jpg" class="profile-pic" alt="...">
						<h5 class="profile-name">Sophie Carroll</h5>
						<p class="profile-hometown">Albuquerque, New Mexico</p>
						<p class="profile-role"><a href="{{url_for('producers')}}">Producer</a> | <a href="{{url_for('marketers')}}">Marketer</a> | <a href="{{url_for('editors')}}">Editor</a></p>
						<p class="profile-description">Sophie Carroll joined The Break's original crew as part of her passion to celebrate the amazing stories behind every person and their unique pursuits. Her other interests include language and communication, photography and graphic design, dance, and creating basically anything she can make herself.</p>
					</div>
					<div class="profile">
						<img src="../static/images/guests/Arjun.jpg" class="profile-pic" alt="...">
						<h5 class="profile-name">Arjun Yagnamurthy</h5>
						<p class="profile-hometown">Dallas, Texas</p>
						<p class="profile-role"><a href="{{url_for('producers')}}">Producer</a> | <a href="{{url_for('editors')}}">Editor</a></p>
						<p class="profile-description">Arjun is a rising senior at Duke studying Public Policy, documentary, and visual & media studies. After studying at Duke's Center for Documentary Studies for the past three years, he has developed a strong interest and affinity for audio production. In his past work, he has developed short-form audio pieces exploring important social issues, such as racism and masculinity. His extensive audio editing and storytelling experience play an important role in bringing life to the stories we tell. </p>
					</div>
					<div class="profile">
						<img src="../static/images/guests/Sara.jpg" class="profile-pic" alt="...">
						<h5 class="profile-name">Sara Kate Baudhin</h5>
						<p class="profile-hometown">Charlotte, North Carolina</p>
						<p class="profile-role"><a href="{{url_for('editors')}}">Editor</a></p>
						<p class="profile-description">Sara Kate is a Trinity Junior majoring in a Program II titled, "Storytelling at a Tool for Social Change" that explores the ethics of storytelling and how personal narratives can be used to spark empathy and impact policy. Sara Kate is a big podcast fan and loves that The Break gives us the chance to hear the stories of some of the incredible people around us at Duke! </p>
					</div>
					<div class="profile">
						<img src="../static/images/guests/Fayfay.jpg" class="profile-pic" alt="...">
						<h5 class="profile-name">Fayfay Ning</h5>
						<p class="profile-hometown">Manhasset, New York</p>
						<p class="profile-role"><a href="{{url_for('marketers')}}">Marketer</a></p>
						<p class="profile-description">Fayfay Ning is a member of The Break podcast team who enjoys hanging around and doing random tasks. She likes math, puppies, capybaras, jiu jitsu, and politics. She is an undergraduate student at Duke University.</p>
					</div>
					<div class="profile">
						<img src="../static/images/guests/Jeevan.jpg" class="profile-pic" alt="...">
						<h5 class="profile-name">Jeevan Tewari</h5>
						<p class="profile-hometown">Greenville, North Carolina</p>
						<p class="profile-role"><a href="{{url_for('developers')}}">Developer</a></p>
						<p class="profile-description">Jeevan works on the website for the break podcast network. His passions include biology, tennis, web development, and music.</p>
					</div>
					<div class="profile">
						<img src="../static/images/guests/Dylan.png" class="profile-pic" alt="...">
						<h5 class="profile-name">Dylan Zumar</h5>
						<p class="profile-hometown">Livermore, California</p>
						<p class="profile-role"><a href="{{url_for('developers')}}">Developer</a></p>
						<p class="profile-description">Dylan is a computer science major at Duke who enjoys playing tennis, writing, and watching sports. He helps with the development of the website.</p>
					</div>
					<div class="profile">
						<img src="../static/images/guests/placeholder-11.jpeg" class="profile-pic" alt="...">
						<h5 class="profile-name">Erie Seong Han</h5>
						<p class="profile-hometown">Cary, North Carolina</p>
						<p class="profile-role"><a href="{{url_for('developers')}}">Developer</a></p>
						<p class="profile-description">Anish Kottu is the first founder of The Break podcast and the The Break Podcast Network. He is known best for his role co-hosting The Break with along with Hamza Mohamoud. He has affinities for podcasts, chess, coding, competitive reality, sports, poker, and movies. He currently attends Duke University as an undergraduate student.</p>
					</div>
					<div class="profile">
						<img src="../static/images/guests/placeholder-11.jpeg" class="profile-pic" alt="...">
						<h5 class="profile-name">12xAM (Ram Bala)</h5>
						<p class="profile-hometown">Cary, North Carolina</p>
						<p class="profile-role"><a href="{{url_for('artists')}}">Artist</a></p>
						<p class="profile-description">Ram Bala, more popularly known as 12xAM, is a hip hop artist who's song, "Rolling," is featured on The Break podcast as its theme for Season 1. You can find all of his music <a href="https://open.spotify.com/artist/0RyChj657RZIV4AhDCR4I6?si=jyfh1R1CS_GT7eBNhucTXA">here</a>.</p>
					</div>
				</div>
			</div>
		</div>

		{% endblock %}

<!--	</div>-->

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>


