img.title {
    width: 219px;
    height: 221.25px;
}

body {
    background-color: #ffffc7;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

i.fa.fa-spotify {
    /* RESOLVE the black background protrudes from the logo */
     background-color: black;
     padding: 0px;
     border: 0px;
     border-radius: 200%;
     font-size:48px;
     color:#1DB954;
}

img.apple-podcasts {
    height: 36px;
    width: 180px;
}