img.title {
    width: 219px;
    height: 221.25px;
}

body {
    background-color: #ffffc7;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

i.fa.fa-spotify {
     background-color: black;
     padding: -5px;
     border-radius: 100%;
     font-size:36px;
     color:#1DB954
}